
.c-card {
  p {
    padding: 0;
    margin: 0;
  }
  padding: 15px 20px 15px 0;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  margin-bottom: 10px;
  > a {
    text-decoration: none;
  }
  .top,
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .heading-3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    letter-spacing: -0.0241176em;
    color: #000;
    margin: 0 0 10px;
    padding-left: 20px;
  }

  .top {
    padding-bottom: 17px;
    border-bottom: 1px solid #efefef;
  }

  .project-completed,
  .link {
    font-size: 14px;
    line-height: 16px;
    color: #535353;
  }

  .project-completed {
    font-weight: bold;
    margin-bottom: 10px;
    background: #f3f3f3;
    border-radius: 18px;
    line-height: 20px;
    padding: 2px 14px;
    margin-left: 6px;
  }

  .link {
    color: #007aff;
    padding-left: 20px;
  }

  .bottom {
    margin-top: 14px;
    padding-left: 20px;
    .rating {
      font-size: 11px;
      line-height: 13px;
      display: flex;
      align-items: center;
      letter-spacing: 0.00636364em;
      .star {
        margin-right: 3px;
      }

      color: #000000;
      .image {
        width: 14.3px;
        height: 14px;
        margin-right: 5px;
        &:hover {
          width: 16.3px;
          height: 16px;
          transition: all 0.1s;
        }
      }
    }
  }
}
